*.la
*.lo
*.o
*~
Makefile
Makefile.in
.deps/
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
pom-ng.db
stamp-h1
src/pom-ng
**/**/.libs/*
**/.libs/*
.dirstamp
